
.unit-button {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
}

.model-button {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-padding: 3 5 3 5;
    -fx-alignment: CENTER_LEFT;
}
.col-header, .row-header {
	-fx-font-weight: bold;
}